img {
  height: 100px;
}

h1 {
    color: blue;
}

#mapid {
    height: 850px;
}

p, h3 {
  line-height: 0.1;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
