img {
  height: 100px;
}

h1 {
    color: blue;
}


#menu {
  width: 30%;
  min-width: 100px;
  display: inline;
  text-align: left;
  word-wrap: normal;
}


#mapid {
    height: 850px;
    width: 70%;
    display: inline;
}

#block_container {
    display: flex;
}



h3 {
  line-height: 0.1;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
